@import '../../styles/variables.scss';

.letter-display-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.letter-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    max-width: 250px;
    min-width: 250px;
    
    .big-letter {
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: 500;
        font-size: 6em;
        padding-right: 20px;
        line-height: 0.85em;
        position: relative;

        &::before {
            content: attr(data-percentage);
            font-size: 20px;
            position: absolute;
            top: -55px;
            left: 5px;
            text-align: center;
        }
    }

}